.container {
  display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content:center;
   justify-content: center;
   flex-direction: column;

   
  }
  .buttonSection{
    display: flex;
    gap: 20px;
  }
  .buttonSectionConfirmationDiv{
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .buttonSectionConfirmationBtns{
    display: flex;
    gap: 20px;
  }
  h2 {
    color: #007bff;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 50%;
   
  }

  .button:hover {
    background-color: #0056b3;
  }
  .drop-zone {
    border: 2px dashed #007bff;
    border-radius: 4px;
    padding: 20px;
    font-size: 18px;
    color: #666;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
   
    
  }
  
  .drop-zone:hover {
    border-color: #0056b3;
  }
  
  .file-input {
    max-width: fit-content;
  }
  /* Styles for the confirmation modal */
.confirmation-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styles for the modal overlay (background) */
.confirmation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Adjust the z-index as needed */
}


.scrollable-input {
  max-height: 300px; /* Set a maximum height for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling if content overflows the container */
  /* Add any other styles you want for the scrollable container */

}
.small-delete-button {
  display: inline-block;
  background-color: #ff3333; /* Background color for the delete button */
  color: white; /* Text color */
  font-size: 12px; /* Font size */
  border: none;
  border-radius: 50%; /* Makes it circular */
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px; /* Add some spacing between the "X" and image name */
}