

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    #ff0000 0%,
    #ff6666 100%
  );
  background-size: 100% 200%;
  animation: gradientAnimation 20s infinite linear; /* Increased duration to 20s */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  min-height: 80vh;
}

.containerApp {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headlineImage{
  align-self: center;
}
h1 {
  color: #007bff;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  
}

.button:hover {
  background-color: #0056b3;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
